.App {
    font-family: sans-serif;
    text-align: center;
}

button {
    margin-right: 10px;
    background: #3f51b5;
    color: white;
    border: none;
    padding: 5px 10px;
    width: 200px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px #ccc;
}

/* For pdf */
.react-pdf__Page {
    margin-top: 0px;
}
.react-pdf__Page__textContent {
    border: 1px solid darkgrey;
    box-shadow: 5px 5px 5px 1px #ccc;
    border-radius: 5px;
}

.react-pdf__Page__annotations.annotationLayer {
    padding: 0px;
}

.react-pdf__Page__canvas {
    margin: 0 auto;
}

/* for mobile pdf */
@media screen and (max-width: 450px) {
    button {
        margin-right: 10px;
        background: #3f51b5;
        color: white;
        border: none;
        padding: 5px 10px;
        width: 200px;
        cursor: pointer;
        box-shadow: 2px 2px 2px 1px #ccc;
    }

    .react-pdf__Page {
        margin-top: 0px;
    }
    .react-pdf__Page__textContent {
        /* border: 1px solid darkgrey; */
        /* box-shadow: 5px 5px 5px 1px #ccc; */
        /* border-radius: 5px; */
    }

    .react-pdf__Page__annotations.annotationLayer {
        padding: 0px;
    }

    .react-pdf__Page__canvas {
        margin: 0 auto;
    }
}
