.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.bio-outer-box {
    border: solid 1px;
    width: 45%;
    padding: 10px;
    background-color: lightgrey;
    line-height: 2em;
}

.bio-inner-box {
    border: solid 1px;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    background-color: white;
    line-height: 2em;
    font-size: 18px;
}

.Tech-skills-section-skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 18px;
  background-color: rgb(151, 148, 148);
  width: 100%;
  flex-wrap: wrap;
  border: solid 1px;
  border-radius: 10px;
}

.Tech-skill {
  padding: 1%;
  background-color: #FFFFFF;
  margin: 1%;
  border-radius: 5px;
  transition: 0.3s;
}

.Tech-skill:hover {
  background-color: #FBEC00;
}

.virtical-line {
    border-left: 1px solid gray;
    height: 800px;
    /* margin-top: 5px; */
    margin-left: 100px;
    margin-right: 170px;
}

.big-img {
    margin-top: 100px;
    width: 500px;
    border-radius: 50%;
}

.Platforms {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 80px;
  justify-content: space-evenly;
  /* text-decoration: none; */
  
}

@media screen and (max-width: 1388px) {

    .home {
        margin-top: 50px;
    }

    .bio-outer-box {
        line-height: 1.5em;
    }

    .bio-inner-box {
        line-height: 1.5em;  
    }

    .virtical-line {
        margin-left: 80px;
        margin-right: 80px;
    }

    @media screen and (max-width: 1024px) {
        .home {
            margin-top: 50px;
        }

        .bio-outer-box {
            line-height: 1.5em;
        }

        .bio-inner-box {
            line-height: 1.5em;  
        }

        .virtical-line {
            margin-left: 30px;
            margin-right: 30px;
        }        
    }

    @media screen and (max-width: 740px) {
        .home {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* margin-top: 30px; */
            margin-top: 50px;
        }

        .bio-outer-box {
            line-height: 1.5em;
            width: 80%;
        }

        .bio-inner-box {
            line-height: 1.5em;  
        }

        .virtical-line {
            display: none;
            /* margin-left: 30px;
            margin-right: 30px; */
        }

        .big-img {
            margin-top: 50px;
            width: 400px;
        }
        
        .Platforms {
            margin-bottom: 20px;
        }
    }

    @media screen and (max-width: 380px) {

        .big-img {
            width: 250px;
        }

        .home {
            margin-top: 0px;
        }

        .bio-outer-box {
            width: 100%;
        }

        .Tech-skills-section-skills {
            font-size: 15px;
        }
    }
}
