.App {
  text-align: center;
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  
  
}

.App-header-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  width: 40%;
  /* border-radius: 5px; */
}

.App-header-title {
  background-color: #8ab595;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: darkblue;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  font-weight: bolder;
}

.About-section-paragraph {
  width: 50%;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}